{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Payment</th>
                </tr>
                <tr>
                {% for product in products %}
                <td>{{ product.prod_name }}</td>
                <td>{{ product.prod_quantity }}</td>
                <td>{{ product.prod_price }}</td>
                <td><a href="/delete-product/{{ product.id }}">Delete</a></td>
                <td><a href="/update-product/{{ product.id }}">Update</a></td>
                <td><a href="/payment/{{ product.id }}">Pay via Mpesa</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}